{% extends 'base.html' %}
{% load static %}

{% block title %}Launch Info{% endblock %}

{% load imagekit %}

{% block content %}

{{ launch }}, {{ launch.body_of_water }}
<br>
Updated: {{ launch.date_updated }}<br>
Located in {{ launch.city }}, {{ launch.state }}, {{ launch.country}} ({{ launch.county }} County)<br>
Lat/Lon: {{ launch.latitude }}, {{ launch.longitude }} 
(<a href="https://www.google.com/maps/dir/?api=1&destination={{ launch.latitude }}%2C{{ launch.longitude }}" target="_blank" rel="noopener noreferrer">Directions</a>)
<p></p>
Ramp type: {{ launch.get_ramp_type_display }}<br>
Parking: {{ launch.get_parking_type_display }}<br>
{% if launch.pay_parking %}
Paid parking - {{ launch.pay_info }}<br>
{% endif %}
{% if launch.bathrooms %}
Bathrooms: {{ launch.bathrooms }} ({{ launch.get_bathroom_type_display }})<br>
{% endif %}
{% if launch.bathroom_desc %}{{ launch.bathroom_desc }}{% endif %}<br>
{{ launch.comment }}
<p></p>
{% if pictures %}
    {% for picture in pictures %}
    <div>
    <a href="{{ picture.original.url }}" target="_blank"><img class="thumbnail" src="{{ picture.thumbnail.url }}"/></a>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
