<!doctype html>
<html lang="en">
<head>
    <title>Launch Info</title>
    {% load static %}
</head>
<body>

<ul role="list">
    {% if latest_launch_list %}
        {% load tz %}
        {% localtime on %}
        {% for launch in latest_launch_list %}
        <li>
            <div>
            <p>
                <a href="{% url 'detail' launch.id %}">{{ launch.name }}</a>
            </p>
            <p>
                {{ launch.city }}, {{ launch.state }}
            </p>
            </div>
            <div>
                <p>Updated {{ launch.date_updated }}</p>
            </div>
        </li>
        {% endfor %}
        {% endlocaltime %}
    {% else %}
        <p>No launches are available.</p>
    {% endif %}
</ul>

</body>
</html>