{% extends 'base.html' %}
{% load static %}

{% block title %}Launches{% endblock %}

{% load imagekit %}

{% block content %}

<ul role="list">
    {% if latest_launch_list %}
        {% load tz %}
        {% localtime on %}
        {% for launch in latest_launch_list %}
        <li>
            <div>
            <p>
                {% if launch.main_image %}
                    <img src="{{ launch.main_image.thumbnail.url }}" alt="{{ launch.name }} thumbnail" class="thumbnail">
                {% else %}
                    <img src="{% static 'default_launch_thumbnail.png' %}" alt="Default thumbnail" class="thumbnail">
                {% endif %}
                <a href="{% url 'launchdetail' launch.id %}">{{ launch.name }}</a>
            </p>
            <p>
                {{ launch.city }}, {{ launch.state }}
            </p>
            </div>
            <div>
                <p>Updated {{ launch.date_updated }}</p>
            </div>
        </li>
        {% endfor %}
        {% endlocaltime %}
    {% else %}
        <p>No launches are available.</p>
    {% endif %}
</ul>

{% endblock %}