@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

#navbar {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

.nav-pills .nav-link.active {
  background-color: #00ffff;
}

a,
.green {
  text-decoration: none;
  color: #0d6efd;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #00aaaa;
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
  }
}
