{% extends 'base.html' %}
{% load static %}

{% block title %}Bodies of Water{% endblock %}

{% load imagekit %}

{% block content %}

<ul role="list">
    {% if latest_water_list %}
        {% load tz %}
        {% localtime on %}
        {% for water in latest_water_list %}
                    <p>
                {% if launch.main_image %}
                    <img src="{{ water.main_image.thumbnail.url }}" alt="{{ water.name }} thumbnail" class="thumbnail">
                {% else %}
                    <img src="{% static 'default_water_thumbnail.png' %}" alt="Default thumbnail" class="thumbnail">
                {% endif %}
                <a href="{% url 'waterdetail' water.id %}">{{ water.name }}</a>
            </p>
            <p>
                {{ water.city }}, {{ water.state }}
            </p>
            </div>
            <div>
                <p>Updated {{ water.date_updated }}</p>
            </div>
        </li>
        {% endfor %}
        {% endlocaltime %}
    {% else %}
        <p>No bodies of water are available.</p>
    {% endif %}
</ul>

{% endblock %}